body{
    margin: 0;
}
.zong{
    height: 100%;
}
.one{
    width: 1600px;
    height: 990px;
    background-image: url(../images/t1.png);
    z-index: -1;
    margin:0 auto;
    text-align: center;
}
.p1{
    font-size: 62px;
    color: rgb(255, 255, 255);
    padding-top:208px;
}
.p2{
    font-size: 20px;
    color: rgba(255, 255, 255, 0.702);
    padding-top: 55px;
    width:768px;
    height: 188px;
    margin:0 auto;
}
.kuang{
    border-width: 1px;
    border-color: rgba(255, 255, 255, 0.302);
    border-style: solid;
    border-radius: 2px;
    width:970px;
    height: 250px;
    margin:0 auto;
}
.p3{
    font-size: 16px;
    color: rgb(255, 255, 255);
    padding-top: 60px;
}
.p4{ font-size: 12px;
    color: rgba(255, 255, 255, 0.302);
    padding-top: 2px;
    letter-spacing: 5px;
}
.biao{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    padding-top: 45px;
}
.kuang2{   
    border-width: 1px;
    border-color: rgba(255, 255, 255, 0.302);
    border-style: solid;
    border-radius: 2px;
    font-size: 14px;
    color: rgb(255, 255, 255);
    text-align: left;
    width: 285px;
    height: 40px;
    line-height: 40px;
}
.kuang33{
    border-width: 1px;
    color: rgba(255, 255, 255, 0.302);
    border-style: solid;
    border-radius: 2px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.302);
    text-align: left;
    width: 285px;
    height: 40px;
    line-height: 40px;
}
.button{
    border-radius: 2px;
    background-color: rgb(255, 255, 255);
    font-size: 12px;
    font-weight: bolder;
    color: rgb(20, 20, 20);
    width: 125px;
    height: 40px;
    line-height: 40px;
}
.two{    
    width: 1600px;
    height: 710px;
    z-index: -1;
    margin:0 auto;
    text-align: center;

}
.p5{  
    font-size: 14px;
    color: rgb(20, 20, 20);
   padding-top: 85px;
   letter-spacing: 2px;
   width: 223px;
   margin: 0 auto;
}
.p6{
    font-size: 42px;
    color: rgb(20, 20, 20);
    padding-top:15px;
    width: 700px;
    height: 90px;
    margin: 0 auto;
}

.three{
    width: 1600px;
    height: 780px;
    z-index: -1;
    margin:0 auto;
    text-align: center;
    background-image: url(../images/t2.png);
    padding-top: 20px;
    position: relative;
}
.tu{
    padding-top: 85px;
    display: flex;
    width:1027px;
    height:467px;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0 auto;
    justify-content: space-around;
}
.tu1{
    height: 85px;
    width:415px;
}
.fu{
float: left;
margin-bottom: 70px;
margin-right: 25px;
}
.p7{
    font-size: 20px;
    color: rgb(20, 20, 20);
    text-align: left;
}
.p8{  
    font-size: 16px;
    color: rgba(20, 20, 20, 0.702);
    margin-left: 20px;
    text-align: left;
}
.p9{
    font-size: 42px;
    color: rgb(255, 255, 255);
    letter-spacing: 2px;
    text-align: left;
    position: absolute;
    left: 315.705px;
    top: 178.783px;
    width: 450px;
    height: 137px;

}
.zi{
    font-size: 18px;
    color: rgba(255, 255, 255, 0.702);
    line-height: 1.556;
    text-align: left;
    position: absolute;
    left: 314.937px;
    top: 371.89px;
    width: 450px;
    height: 126px;
}
.button3{
    border-width: 1px;
    border-color: rgba(255, 255, 255, 0.302);
    border-style: solid;
    border-radius: 2px;
    position: absolute;
    font-size: 14px;
    color: rgb(255, 255, 255);
    left: 585px;
    top: 584px;
    width: 233px;
    height: 58px;
    line-height: 58px;

}
.button2{
    border-width: 1px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    border-radius: 2px;
    position: absolute;
    font-size: 14px;
    background-color: white;
    color:black;
    left: 315px;
    top: 584px;
    width: 233px;
    height: 58px;
    line-height: 58px;
}
.fu1{
    position: absolute;
    left: 958.705px;
    top: 118.783px;
}
.fu2{
    position: absolute;
    left: 1020.705px;
    top: 148.783px;
}
.four{
    width: 1600px;
    height: 580px;
    margin:0 auto;
    text-align: center;
    border-bottom:1px solid #E7E7E7;
}
.p10{
    font-size: 42px;
    color: rgb(20, 20, 20);
    line-height: 1.238;
    width: 600px;
    height: 41px;
    margin: 0 auto;
    padding-top: 100px;
}
.tuu{
    display: flex;
    padding-top: 85px;
    width:1300px;
    height:267px;
    flex-direction: row;
    margin: 0 auto;
    justify-content: space-around;
}
.for{
    margin-left: 85px;
}
.zi2{
    font-size: 16px;
    color: rgba(20, 20, 20, 0.702);
    text-align: center;
    margin-top: 35px;
}
.five{
    width: 1600px;
    height: 1000px;
    margin:0 auto;
    border-bottom:1px solid #E7E7E7;
}
.tuuu{
    display: flex;
    width:970px;
    height:780px;
    flex-direction: row;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 10px;
}
.fi{
    width:970px;
    height:390px;
    margin-top: 80px;
}
.zi3{
    font-size: 20px;
    color: rgb(20, 20, 20);
    text-align: left;
}
.zi4{
    font-size: 16px;
    color: rgba(20, 20, 20, 0.702);
    text-align: left;
}
.fu3{
    float: left;
    margin-right: 100px;
}
.fu4{
    float: right;
    margin-left: 100px;
}
.six{
    width: 1600px;
    height: 1080px;
    margin:0 auto;
    border-bottom:1px solid #E7E7E7;
    text-align: center;
}
.zi5{
    font-size: 42px;
    color: rgb(20, 20, 20);
    margin-top:70px;
    margin-bottom: 40px;
}
.zi6{
    font-size: 18px;
    color: rgba(20, 20, 20, 0.702);
    width: 800px;
    margin:0 auto;
}
.tuuuu{
    display: flex;
    width:970px;
    height:710px;
    flex-direction: row;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 40px;
}
.pic1{
    width: 470px;
    height: 340px;
    margin-top: 35px;
    background-image: url(../images/张思远大.png);
}
.pic{
    width: 470px;
    height: 340px;
    margin-top: 35px;
}
.pic1:hover{
    background-image: url(../images/22.png);
    float: left; 
}
.seven{
    width: 1600px;
    height: 732px;
    margin:0 auto;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
.zi7{
    text-align: center;
    font-size: 18px;
    color: rgb(20, 20, 20);
    margin-top: 48px;
    letter-spacing: 2px;
}
.kuangk{
    border-width: 1px;
    border-color:  #F0F0F0;
    border-style: solid;
    border-radius: 10px;
    width: 468px;
    height: 558px;
    display: flex;
    margin-top: 73px;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 200px;
}
.kuangkk{
    border-width: 1px;
    border-color: #DAD9D9;
    border-style: solid;
    border-radius: 2px;
    width: 368px;
    height: 48px;
    font-size: 14px;
    color: rgba(20, 20, 20, 0.502);
    text-align: left;
    margin:  auto;
}
.kuangkkk{
    border-width: 1px;
    border-color: #DAD9D9;
    border-style: solid;
    border-radius: 2px;
    width: 368px;
    height: 142px;
    font-size: 14px;
    color: rgba(20, 20, 20, 0.502);
    text-align: left;
    margin:  auto;
}
.kuangkkkk{
    border-radius: 2px;
    background-color: rgb(20, 20, 20);
    width: 370px;
    height: 50px;
    font-size: 12px;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-left:48px;
    margin-bottom: 66px;
}
.kuang3{
    width: 468px;
    height: 558px;
    display: flex;
    margin-top: 73px;
    flex-direction: column;
    margin-right: 200px;
}
.fu5{
    float: left;
    margin-top: 10px;
    margin-right: 20px;
}
.kuang4{
    width:360px;
    height: 395px;
     
}
.zi8{
    font-size: 40px;
    color: black;
}
.zi9{
    font-size: 16px;
    color: rgba(20, 20, 20, 0.702);
    text-align: left;
}
.zi10{
    font-size: 15px;
    color: rgb(20, 20, 20);
    text-align: left;
    margin-top: 5px;
    margin-bottom: 30px;
    display: block;
    font-family: "Montserrat";
    height: 26px;
}
.fu6{
    float: left;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 0;
}
.end{
    height: 350px;
    width: 1600px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    background-color: #141414;
    margin: 0 auto;
}
.shu{
    text-align: left;
    width:200px;
    height: 200px;
    margin-top: 85px;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
}
.shu2{
    text-align: left;
    width:300px;
    height: 200px;
    margin-top: 85px;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
}
.a1{
    font-size: 16px;
    color: rgb(255, 255, 255);
    letter-spacing: 3px;
}
.a2{
    font-size: 14px;
    color: rgba(255, 255, 255, 0.302);
    letter-spacing: 2px;
    display: block;
    margin-top: 15px;
}
.a3{
    font-size: 16px;
    color: rgba(255, 255, 255, 0.302);
    letter-spacing: 2px;
    display: block;
    margin-top: 15px;
}
.mo{
    margin-top: 15px;
    margin-right: 30px;
}